#tabbar{
    position: absolute;
    top: 0px;
    left: 20%;
    background-color: #202020;
    width: 80%;
    height: 60px;
    color: white;
    overflow-x: scroll;
    user-select: none;
    -moz-user-select: none;
}

#tabbar::-webkit-scrollbar{
    height: 10px;
}

#tabbar::-webkit-scrollbar-track{
    background-color: #606060;
}

#tabbar::-webkit-scrollbar-thumb{
    background-color: #757575;
}

#addTab{
    position: absolute;
    top: 0px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 28pt;
}

#tabMarker{
    z-index: 10;
    background-color: white;
    width: 2px;
    height: 50px;
    position: absolute;
    top: 0px;
    display: none;
}

.removeButton{
    position: absolute;
    top: 5px;
    right: 5px;
    height: 17px;
    width: 17px;
    line-height: 17px;
    text-align: center;
    color: white;
    display: none;
    font-size: 12pt;
    font-weight: bold;
}

.tab{
    position: absolute;
    top: 0px;
    background-color: #404040;
    height: 50px;
    line-height: 50px;
    width: 160px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center; 
    overflow: hidden;
    font-family: monospace;
    font-size: 12pt;
}

.tab:hover .removeButton{
    display: block;
}

.removeButton:hover{
    color: red;
}